.Main {
  position: relative;
  top: 1.5rem;
  width: 100%;

  &-form {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    background-color: var(--seventh-color);
    border-radius: 1rem;
    overflow: hidden;
  }
  &-input {
    width: 100%;
    font-size: 1rem;
    padding: 1rem 3rem 1rem 1.5rem;
    outline: none;
    transition: 0.3s ease-in-out;
  }
  &-button {
    position: absolute;

    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
  }

  &-article {
    width: 100%;
    margin-top: 1.75rem;
  }
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2.125rem;
  }
  &-h2 {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5625rem;
    font-size: 2rem;
    font-weight: 700;
  }
  &-span {
    font-size: initial;
    font-weight: initial;
    color: var(--ninth-color);
  }

  &-section {
    width: 100%;
    margin-bottom: 2.1875rem;
  }
  &-section-header {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 2.125rem;
  }
  &-section-h3 {
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 700;
    line-height: 1.18rem;
  }
  &-section-hr {
    background-color: var(--sixth-color);
    width: 82%;
    height: 1px;
  }
  &-section-h4 {
    font-size: 1rem;
    line-height: 1.0488rem;
    color: var(--fith-color);
    margin-bottom: 1.0625rem;
  }
  &-section-ul {
    position: relative;
    width: 100%;
    padding: 0 1.5rem;
  }
  &-section-li::before {
    position: absolute;
    left: 0;
    content: "\2022";
    color: var(--ninth-color);
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
  }

  &-section-li:nth-child(1),
  &-section-li:nth-child(2) {
    margin-bottom: 0.8125rem;
  }

  &-section-li:nth-child(3) {
    margin-bottom: 1.5rem;
  }

  &-section-li-p {
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  &-section-div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 15.9375rem;
  }

  &-section-noun-p {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.0488rem;
    color: var(--ninth-color);
  }

  &-section-p {
    margin-bottom: 0.8125rem;
  }
  &-section-span {
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    color: var(--fith-color);
  }

  &-hr {
    height: 1px;
    background-color: var(--sixth-color);
    margin: 2rem 0 1.625rem 0;
    width: 100%;
  }

  &-footer {
    width: 100%;
    margin: 0 3.625rem 3.9375rem 0;
  }

  &-footer-h5 {
    position: relative;
    margin-bottom: 10px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 0.9375rem;
    color: var(--fith-color);
    text-decoration: underline;
  }

  &-footer-p {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5625rem;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 0.9181rem;
  }
}

.Main-input.isActive {
  background-color: var(--second-color);
}

.hr-theme {
  background-color: var(--forth-color);
}
