.App {
  width: 100%;
  min-height: 100vh;
  // max-width: 90rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 1.5rem;
  background-color: var(--eighth-color);
  transition: all 0.3s ease-in;
  font-family: "Lora", serif;
}

.darkTheme {
  background-color: var(--first-color);
  color: var(--eighth-color);
  transition: all 0.3s ease-in-out;
}

// font-family: 'Inconsolata', monospace;
// font-family: 'Inter', sans-serif;
// font-family: 'Lora', serif;
