.App {
  width: 100vw;
  min-height: 100vh;
  margin: auto;
  // max-width: 90rem;
  padding-top: 1.5rem;
  background-color: var(--eighth-color);
  transition: all 0.3s ease-in;
}

.darkTheme {
  background-color: var(--first-color);
  color: var(--eighth-color);
  transition: all 0.3s ease-in-out;
}
